<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">  
  </head>
  <body>
    
    <div id = "indexmap" style = "width:580px; height:400px;"></div>
    <script>
      
      // Create map
      function initMap() {
        var latlng = new google.maps.LatLng(54.602724, -5.929291);
        var map = new google.maps.Map(document.getElementById('indexmap'), {
          zoom: 13,
          center: latlng
        });

        var geocoder = new google.maps.Geocoder;
        // var infowindow = new google.maps.InfoWindow({
        //   content: contentString
        // });

        window.onload = function() {
          //getReverseGeocodingData(geocoder, map, infowindow);
          //populateMap(map, infowindow);
          //populateMapTest(map);
          populateMapTestgeo(map);
        };           
      }
        
      var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h3 id="address" class="firstHeading"></h3>'+
        '<div id="bodyContent">'+
        '<p> Image preview </p>'+
        '</div>';



      function getReverseGeocodingData(geocoder, map, infowindow) {
          var latlng = new google.maps.LatLng(gon.murals[0].lat, gon.murals[0].long);
          geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === 'OK') {
              if (results[1]) {
                var marker = new google.maps.Marker({
                  position: latlng,
                  map: map
                });
                
                google.maps.event.addListener(marker, 'mouseover', function () {
                  infowindow.open(map, marker);
                  document.getElementById("address").innerHTML = results[1].formatted_address ;
                  // document.getElementById("bodyContent").innerHTML = gon.murals[1].lat ;
                });
                alert(index);              
              } else {
                  window.alert('No results found'); 
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
              }
          }); 
      }  
////////////////////////////////////////////

    

  function populateMapTestgeo(map){ //populates map with markers and labels AND geocoding
        
        var marker, i
        for (i = 0; i < gon.murals.length; i++){  
          var artist = gon.murals[i].artist
          var muralId = gon.murals[i].id
          var latlng = new google.maps.LatLng(gon.murals[i].lat, gon.murals[i].long);
          var marker = new google.maps.Marker({  
            map: map,
            position: latlng  
          });

          var content= '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h3 id="address" class="firstHeading"><a href="murals/' + muralId + '">' + artist + '</a></h3>'+
          '<div id="bodyContent">'+
          '<p> Image preview </p>'+
          '</div>';      

          var infowindow = new google.maps.InfoWindow()
                    
          google.maps.event.addListener(marker,'mouseover', (function(marker, content, infowindow){ 
            return function() {
              infowindow.setContent(content);
              infowindow.open(map,marker);
              
            };
          })(marker, content, infowindow)); 
        }
      }
                      
                  
                  



////////////////////////////////////////////


   function populateMapTest(map){ //populates map with markers and labels but no geocoding
        
        var marker, i
        for (i = 0; i < gon.murals.length; i++){  
          var artist = gon.murals[i].artist
          var latlng = new google.maps.LatLng(gon.murals[i].lat, gon.murals[i].long);
          var marker = new google.maps.Marker({  
            map: map,
            position: latlng  
          });

          var content = artist;       

          var infowindow = new google.maps.InfoWindow()
          

          google.maps.event.addListener(marker,'mouseover', (function(marker, content, infowindow){ 
            return function() {
               infowindow.setContent(content);
               infowindow.open(map,marker);

            };
          })(marker, content, infowindow)); 
        }
      }
                      

////////////////////////////////////////////


      function populateMap(map, infowindow){ //populates map with markers
        var index;
        for (index = 0; index < gon.murals.length; ++index) {
          var latlng = new google.maps.LatLng(gon.murals[index].lat, gon.murals[index].long);
          var marker = new google.maps.Marker({
            position: latlng,
            map: map  
          });   

        }
      }           
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=initMap">
    </script>
   
  </body>
</html>