<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">  
  </head>
  <body>
    
    <div id = "showmap" style = "width:580px; height:400px;"></div>
    <script>
      
      // Create map
      function initMap() {
        var latlng = new google.maps.LatLng(54.602724, -5.929291);
        var map = new google.maps.Map(document.getElementById('showmap'), {
          zoom: 13,
          center: latlng
        });

        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        window.onload = function() {
          //getReverseGeocodingData(geocoder, map, infowindow);
          populateMap(map);
        };           
      }
        
      var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="address" class="firstHeading"></h3>'+
            '<div id="bodyContent">'+
            '<p> Image preview </p>'+
            '</div>';

      function getReverseGeocodingData(geocoder, map, infowindow) {

        var lat = 54.5996
        var long = -5.90419;
        var latlng = new google.maps.LatLng(lat, long);
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[1]) {
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });

              google.maps.event.addListener(marker, 'mouseover', function () {
                infowindow.open(map, marker);
                document.getElementById("address").innerHTML = results[1].formatted_address ;
                document.getElementById("bodyContent").innerHTML = gon.murals[1].lat ; //example of passing data from db to javascript using gon gem
              });
            

              google.maps.event.addListener(marker, 'click', function () {
                window.location.href = 'http://www.google.com';
              });              
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
            window.alert(latlng);
          }
        }); 
      }   

      function populateMap(map){
        var index;
        for (index = 0; index < gon.murals.length; ++index) {
          var latlng = new google.maps.LatLng(gon.murals[index].lat, gon.murals[index].long);
          var marker = new google.maps.Marker({
            position: latlng,
            map: map
          });
        }
      }           
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=initMap">
    </script>
   
  </body>
</html>