<!DOCTYPE html>
<html>
   
   <head>
    
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=initMap"></script>

      
      <script>

       
         function initMap() {
            
            var lat = document.getElementById("lat").innerText;
            var long = document.getElementById("long").innerText;
            var latlng = new google.maps.LatLng(lat, long);
            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
                
            var map = new google.maps.Map(document.getElementById("sample"),myOptions);      

            var marker = new google.maps.Marker({
               position: new google.maps.LatLng(lat, long),
               map: map,
            });
         }
      </script>
      
   </head>
   
   <body onload = "initMap()">
      <div id = "sample" style = "width:580px; height:400px;"></div>
   </body>
   
</html>