<!DOCTYPE html>
<html>
   
   <head>
    
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=initMap"></script>

      
      <script>
        var lat = 54.5996;
        var long = -5.90419;
        

        function initMap() { 
          var latlng = new google.maps.LatLng(lat, long);
          var myOptions = {
              zoom: 13,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          var geocoder = new google.maps.Geocoder;      
          var map = new google.maps.Map(document.getElementById("sample"),myOptions);

          // marker = new google.maps.Marker({
          //      position: new google.maps.LatLng(lat, long),
          //      map: map,
          // });      
          
          window.onload = function() {
            getReverseGeocodingData(geocoder, map, infowindow);
          };

          
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          //   google.maps.event.addListener(marker, 'mouseover', function () {
          //   infowindow.open(map, marker);
          // });
          // marker.addListener('mouseout', function() {
          //   infowindow.close();
          // });
          // google.maps.event.addListener(marker, 'click', function () {
          //   window.location.href = 'http://www.google.com';
          // });

        }

        function getReverseGeocodingData(geocoder, map, infowindow) {

        var latlng = new google.maps.LatLng(lat, long);
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[1]) {
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });
              infowindow.setContent(results[1].formatted_address);
              infowindow.open(map, marker);
              document.getElementById("address").innerHTML = results[1].formatted_address ;
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
            window.alert(latlng);
          }
        });
      }

      
          

      </script>
      
   </head>
   
   <body onload = "initMap()">
      <div id = "sample" style = "width:580px; height:400px;"></div>
   </body>
   
</html>