// Place all the styles related to the Murals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showmap, #pano{
	height: 400px;
	 width: 50%;
	 float: left;
}

#indexmap{
	width: 100% !important;
	height: 100% !important;
}

#sample{
	width: 100% !important;
}

.box.panel.panel-default{
	width: 650px;
	margin: auto;
	margin-bottom: 50px;
	img{
		display: block;
		margin: auto;
		width: 650px;
		margin-bottom: 50px;
	}
}

.hidden{
	display:none;
}

#slider{
	width: 450px !important;
	box-shadow: -5px 0 15px -6px #585858 inset;
}

#sliderMap{
	width: 100%;
	height: 300px;
}

#sideTitle{
	background-color: #eeeeee;
	padding-left: 10px;
}

#form{
	padding: 5px;
}

.slideButton{
	.btn-primary {
	    width: 100% !important;
	}
}

.hide{
	display: none;
}

.gridContents{
	img{
		width: 300px;
		height: 300px;	
	}
	.thumb{
		margin-bottom: 30px;
	}
}

#modal-title{
	text-align: center;
	
}

#modal-body{
	overflow: hidden;
}

.logo{
	margin: auto;
	display: block;
	padding-top: 15px;
	padding-bottom: 10px;
}

 .form-input{
 	padding-top:10px;
 }