=simple_form_for @mural, html: {multipart: true} do |f|
  -if @mural.errors.any?
    #errors
      %h2
      =pluralize(@mural.errors.count, "error")
      prevented this mural from saving
      %ul
        -@mural.errors.full_messages.each do |msg|
          %li= msg
  
  =render 'map'


  .form-group
    =f.input :artist, input_html: {class: 'form-control'}
    =f.label :year
    =f.select :year, ['2017', '2016','2015','2014','2013','2012','2011','2010','2009','2008','2007','2006','2005','2004','2003','2002','2001','2000']
    .hide
    
      =f.input :lat, input_html: {class: 'form-control', id: "lat"}

      =f.input :long, input_html: {class: 'form-control', id:"long"}
  
  .form-group
    = f.file_field :images, multiple: true

  =f.button :submit, class: "btn btn-primary"
