!!!
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
  %body
    #indexmap{:style => "width:580px; height:400px;"}
    #slider
      =render 'slider'
    :javascript
      // Create map
        function initMap() {
          var latlng = new google.maps.LatLng(54.602724, -5.929291);
          var map = new google.maps.Map(document.getElementById('indexmap'), {
            zoom: 13,
            center: latlng
          });
        
          window.onload = function() {
            populateMapTestgeo(map);
            //populateMap(map);
         
          }; 

          var centerControlDiv = document.createElement('div');
          var centerControl = new CenterControl(centerControlDiv, map);

          centerControlDiv.index = 1;
          map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);          
        }
              
        var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h3 id="address" class="firstHeading"></h3>'+
          '<div id="bodyContent">'+
          '<p> Image preview </p>'+
          '</div>';
      
        function getReverseGeocodingData(geocoder, map, infowindow) {
          var latlng = new google.maps.LatLng(gon.murals[0].lat, gon.murals[0].long);
          geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === 'OK') {
              if (results[1]) {
                var marker = new google.maps.Marker({
                  position: latlng,
                  map: map
                });
                
                google.maps.event.addListener(marker, 'mouseover', function () {
                  infowindow.open(map, marker);
                  document.getElementById("address").innerHTML = results[1].formatted_address ;
                  // document.getElementById("bodyContent").innerHTML = gon.murals[1].lat ;
                });
                             
              } else {
                  window.alert('No results found'); 
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
              }
          }); 
        }  
               
        function populateMapTestgeo(map){ //populates map with markers and labels              
          var marker, i
          for (i = 0; i < gon.murals.length; i++){  
            var artist = gon.murals[i].artist
            var muralId = gon.murals[i].id
            var image = gon.murals[i].images[0].url ; 
            
            
            var latlng = new google.maps.LatLng(gon.murals[i].lat, gon.murals[i].long);
            var marker = new google.maps.Marker({  
              map: map,
              position: latlng  
            });
  
            var content= '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="address" class="firstHeading"><a href="murals/' + muralId + '">' + artist + '</a></h3>'+
            '<div id="bodyContent">'+
            '<img src="' + image + '" style="width:200px;">'+
  
            '</div>';      
  
            var infowindow = new google.maps.InfoWindow()
                      
            google.maps.event.addListener(marker,'mouseover', (function(marker, content, infowindow){ 
              return function() {
                infowindow.setContent(content);
                infowindow.open(map,marker);
              };
            })(marker, content, infowindow)); 
          }
        }

       
 
         function populateMap(map){ //populates map with markers
          var index;
          for (index = 0; index < gon.murals.length; ++index) {
            var latlng = new google.maps.LatLng(gon.murals[index].lat, gon.murals[index].long);
            var marker = new google.maps.Marker({
              position: latlng,
              map: map  
            });   
          }
        }  

        function CenterControl(controlDiv, map) {

          // Set CSS for the control border.
          var controlUI = document.createElement('div');
          controlUI.style.backgroundColor = '#fff';
          controlUI.style.border = '2px solid #fff';
          controlUI.style.borderRadius = '3px';
          controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
          controlUI.style.cursor = 'pointer';
          controlUI.style.marginBottom = '22px';
          controlUI.style.textAlign = 'center';
          controlUI.title = 'Click to recenter the map';
          controlDiv.appendChild(controlUI);
          //note
          // Set CSS for the control interior.
          var controlText = document.createElement('div');
          controlText.style.color = 'rgb(25,25,25)';
          controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
          controlText.style.fontSize = '16px';
          controlText.style.lineHeight = '38px';
          controlText.style.paddingLeft = '5px';
          controlText.style.paddingRight = '5px';
          controlText.innerHTML = 'Add Mural';
          controlUI.appendChild(controlText);

          $('#slider').slideReveal({
            trigger: $(controlUI)
          });
        }

    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=initMap"}
      :cdata