
#sliderMap
:javascript
  function myMap() {
  var latlng = new google.maps.LatLng(54.602724, -5.929291);
  var mapProp= {
      center: latlng,
      zoom:11,
  };
  var map=new google.maps.Map(document.getElementById("sliderMap"),mapProp);
  }
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=myMap"}
