
%body
  #showmap
  #pano

  :javascript
    // Create map
    function initMap() {
      var lat = document.getElementById("lat").innerText;
      var long = document.getElementById("lng").innerText;
      var latlng = new google.maps.LatLng(lat, long);
      var map = new google.maps.Map(document.getElementById('showmap'), {
        zoom: 15,
        center: latlng
      });

      var lat = 54.5996
      var lng = -5.90419
      var panorama = new google.maps.StreetViewPanorama(
        document.getElementById('pano'), {
          position: {lat, lng},
          pov: {heading: 165, pitch: 0},
          zoom: 1
        });
      map.setStreetView(panorama);

      var geocoder = new google.maps.Geocoder;
      var infowindow = new google.maps.InfoWindow;
    

      window.onload = function() {
        getReverseGeocodingData(geocoder, map, infowindow);
        getID();
      };
    }
      
    //get the id from the url
    function getID(){
      var url = window.location.href;
      var id = url.substring(url.lastIndexOf('/')+1);
      
    }

    function getReverseGeocodingData(geocoder, map, infowindow) {

      var lat = document.getElementById("lat").innerText;
      var long = document.getElementById("lng").innerText;
      var latlng = new google.maps.LatLng(lat, long);
      // This is making the Geocode request
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === 'OK') {
          if (results[1]) {
            var marker = new google.maps.Marker({
              position: latlng,
              map: map
            });
            infowindow.setContent(results[1].formatted_address);
            infowindow.open(map, marker);
          } else {
            window.alert('No results found');
          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
          window.alert(latlng);
        }
      });
    }
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&callback=initMap"}
    :cdata
  


 
 

  