// Place all the styles related to the Murals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sample{
	width: 100% !important;
}

.box.panel.panel-default{
	width: 650px;
	margin: auto;
	margin-bottom: 50px;
	img{
		display: block;
		margin: auto;
		width: 650px;
		margin-bottom: 50px;
	}
}

.hidden{
	display:none;
}

