// Place all the styles related to the Murals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sample{
	width: 100% !important;
}

.box.panel.panel-default{
	width: 50%;
	margin: auto;
	margin-bottom: 50px;
	img{
		display: block;
		margin: auto;
	}
}

.hidden{
	display:none;
}

